<p-accordion>
    
    <p-accordionTab header="Personal details" [selected]="true">
    	<app-formcontainer></app-formcontainer>
    </p-accordionTab>

    <p-accordionTab header="GET feedback">
    	<strong>{{ feedbackLabel }}</strong>
        <app-fetchdata></app-fetchdata>
    </p-accordionTab>

</p-accordion>		


