<section class="footer-wrap">
  <div class="footer__border"></div>
  <div class="container">
    <div class="footer__logo"></div>
    <div class="footer__nav">
      <nav class="footer__navigation">
        <ul>
          <li>
            <a [routerLink]="['/home']">Home</a>
          </li>
          <li>
            <a [routerLink]="['/test']">Test</a>
          </li>
        </ul>
      </nav>

    </div>
    <div class="footer__copyright">
      <a [routerLink]="['/copyright']">&copy; Copyright info</a>
    </div>
  </div>
</section>
