// Button variables
$button-border-radius: 5px;
$button-transition-time: .1s;
$button-font-size: 14px;
$button-text-color: #fff;
$button-padding: 7px 30px;
$button-box-shadow-top: 3px;
$button-offset-hover: $button-box-shadow-top;

// Button big variables
$button-big-font-size: 18px;
$button-big-padding: 10px 35px;
