<section class="test-keyvisual content-head-spacer">
  <div class="container test-container">
    

    <p class="lead">This is the test page including accordion, carousel, form, GET result, image.</p>

  	<div class="test-content text-center">
		 <a [routerLink]="['/home']" class="btn btn-default">Go to home page</a>
  	</div>

  	<div class="test-content">

  		<app-accordion></app-accordion>
      
      <app-carousel></app-carousel>
  	
    </div>

  </div>  
</section>
