.ui-grid .ui-grid-row {
	overflow: hidden;
	padding: 10px;
}

.ui-grid .ui-grid-row img {
	width: 100%,
}


.ui-carousel .ui-carousel-viewport .ui-carousel-items .ui-carousel-item { border: 0 !important; }