<p-carousel headerText="Fill the form" [value]="items" numVisible="1">
    <ng-template let-item pTemplate="item">
        <div class="ui-grid ui-grid-responsive">
            
            <div class="ui-grid-row" *ngIf="item.type=='form'">
                <div class="ui-grid-col-12">
                    <app-formcontainer></app-formcontainer>
                </div>
            </div>
            
            <div class="ui-grid-row" *ngIf="item.type=='image'">
                <div class="ui-grid-col-12 text-center">
                    <img src="assets/images/carousel/{{item.src}}" />
                </div>
            </div>

            <div class="ui-grid-row" *ngIf="item.type=='getText'">
                <div class="ui-grid-col-12">
                    <strong>{{item.content}}</strong>
                    <app-fetchdata></app-fetchdata>
                </div>
            </div>
            
        </div>
    </ng-template>
</p-carousel>