// Font
$font-quicksand-name: 'Quicksand';
$font-quicksand-src: '../assets/fonts/Quicksand-Regular.ttf';

$font-family: $font-quicksand-name , sans-serif;
$font-size: 14px;
$line-height: 16px;
$dt-font-size: 18px;
$dt-line-height: 20px;

// Breakpoints
$media-min-320: 320px;
$media-min-1200: 1200px;

// Colors
$base-white: #fff;
$base-black: #000;
$luxor-gold: #af8b39;
$thunder: #231f20;
$alizarin-crimson: #ec1c23;
$ripe-lemon: #f5e71f;
$lochmara: #0071bc;
$lucky-point: #1d2069;
$success-color: #04D544;
$bondi-blue: #0295B9;
$shakespeare: #52B5CF;
$grey-haze: #f3f4f4;
$grey-storm: #e5e7e7;
$grey-motto: #d9d9d9;
$grey-sub: #cecece;
$grey-form-inputs: #cecece;
$button-background: #04D544;
$button-border: #04A234;
