<section class="home-keyvisual content-head-spacer text-center">
  <div class="home-euromillions-container">
  	<div class="home-euromillions-content">
	  	<h2>
		    Homepage, please navigate to the test page.
		 </h2>	
  	</div>	

  	<div class="home-euromillions-content">
		 <a [routerLink]="['/test']" class="btn btn-default">Go to test page</a>
  	</div>	
  </div>
  
</section>
