<section class="topbar-wrap">
  <div class="topbar__border"></div>
  <div class="container">
    <div class="topbar__pre-nav clearfix text-center">
    	<ul class="nav navbar-nav navbar-right">
    		<li>
    			<a [routerLink]="['/home']"><i class="fa fa-home"></i> Home</a>
    		</li>
    		<li>
    			<a [routerLink]="['/test']"><i class="fa fa-shield"></i> Test</a>
    		</li>
    	</ul>

    </div>
  </div>
</section>
