<section class="topbar-wrap">
  <div class="topbar__border"></div>
  <div class="container">
    <div class="topbar__pre-nav clearfix">
      <a [routerLink]="['/home']">Logo</a>
    </div>
  </div>
</section>
