<form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm)">
	<div class="form-group">	
		
		<div class="row">
		  <div class="col-md-12">
		  	<label for="firstname">Firstname</label>
			<input required formControlName="firstname" placeholder="Firstname" class="form-control">
			<div class="alert alert-danger" *ngIf="myForm.controls.firstname.hasError('required')">
				First name is required
			</div>
		  </div>
		 </div>
		  

		 <div class="row">
		  <div class="col-md-12">
		  	<label for="lastname">Lastname</label>
			<input required formControlName="lastname" placeholder="Lastname" class="form-control">
			<div class="alert alert-danger" *ngIf="myForm.controls.lastname.hasError('required')">
				Last name is required
			</div>
		  </div>
		 </div>

		 <div class="row">
		  <div class="col-md-12">
		  	<label for="email">Email address</label>
			<input required formControlName="email" placeholder="Your email" class="form-control" (change)="onSubmit(myForm)">
			<div class="alert alert-danger" *ngIf="myForm.controls.email.hasError('required') && myForm.controls.email.touched">
				Email is required
			</div>
			<div class="alert alert-danger" *ngIf="myForm.controls.email.hasError('required') && myForm.controls.email.hasError('pattern')">
				Wrong email format
			</div>
		  </div>
		 </div>

		 <div class="row">
		  <div class="col-md-12">
		  	<label for="birthday">Date of birth</label>
			<p-calendar formControlName="birthday" dateFormat="dd.mm.yy" showButtonBar="true" inputStyleClass="form-control"></p-calendar>
			<div class="alert alert-danger" *ngIf="myForm.controls.birthday.touched && myForm.controls.birthday.hasError('required')">
				Birthday is required
			</div>
		  </div>
		 </div>

		 <div class="row">
		  <div class="col-md-12">
		  	<button type="submit" class="btn btn-primary" [disabled]="myForm.invalid">Send</button>
		  </div>
		</div>

		 <div class="row">
		  <div class="col-md-12">
		  	{{formResult}}
		  </div>
		</div>
		
		
	</div>
</form>
		
