.test-keyvisual {
  background-color: $bg-color;
  min-height:843px;
  padding-bottom:50px;

  .test-keyvisual-container {
    margin-bottom: 100px;
  }


  .test-container {
    line-height: 100%;

    .test-content {
      line-height: 100%;
      padding: 20px 0px;

      h2 {
        color: red;
        font-size: 39px;
        line-height: 100%;
      }
      h3 {
        font-weight: bold;
        font-size: 65px;
        line-height: 100%;
      }
    }

  }
}

form {
  label { 
    padding: 15px 0;
  }
}